.navigation {
  grid-area: navigation;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: ((64px - 36px) / 2);

  &_button {
    --backgroundOpacity: 0;

    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: none;
    transition-property: background-color, opacity;
    transition-duration: 150ms;
    background-color: rgba(white, var(--backgroundOpacity));
    background-position: center;
    background-repeat: no-repeat;
    outline: none;

    &:hover {
      --backgroundOpacity: calc(1 / 3);
    }

    &:active {
      --backgroundOpacity: calc(2 / 3);
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.1;
    }

    &.-next {
      background-image: url("./next.svg");
    }

    &.-previous {
      background-image: url("./previous.svg");
    }
  }

  &_sourceCode {
    --backgroundOpacity: 1;

    color: rgba(white, var(--backgroundOpacity));
    text-decoration-color: gray;
    transition-property: color, opacity;
    transition-duration: 150ms;
    opacity: 0.1;

    &:hover {
      --backgroundOpacity: calc(2 / 3);
    }

    &:active {
      --backgroundOpacity: calc(1 / 3);
      opacity: 0.5;
    }
  }
}
