* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Ubuntu, Segoe UI;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 64px;
  grid-template-columns: 1fr;
  align-items: stretch;
  justify-items: stretch;
}
