* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  display: grid;
  grid-template-areas:
    "text       animation"
    "navigation navigation";
  grid-template-rows: 1fr 64px;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: Ubuntu, Segoe UI;
  font-size: 20px;
  // background-image: url("./background.svg");
  background-size: contain;
}
