.map {
  width: 100%;
  height: 100%;

  &_star {
    &:hover {
      transform: scale(1.5);
    }
  }

  &_name {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 150ms;
    font-family: Ubuntu, Segoe UI;
    cursor: none;
  }

  &_galaxy:hover &_name {
    opacity: 1;
  }

  &_constellation {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;

    &:hover {
      opacity: 1;
    }

    text {
      cursor: default;
    }
  }

  &_star {
    transition-property: transform;
    transition-duration: 300ms;

    &:hover {
      transform: scale(5);
    }
  }

  &_star:hover &_name {
    opacity: 1;
  }
}
