.text {
  grid-area: text;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  h1 {
    font-size: 64px;
    font-weight: 0;
  }

  p {
    line-height: 1.5;
  }

  ul {
    list-style: "— ";
    margin: 0;
    padding: 0;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  a {
    --backgroundOpacity: 1;

    color: rgba(white, var(--backgroundOpacity));
    text-decoration-color: gray;
    transition-property: color, opacity;
    transition-duration: 150ms;

    &:hover {
      --backgroundOpacity: calc(2 / 3);
    }

    &:active {
      --backgroundOpacity: calc(1 / 3);
      opacity: 0.5;
    }
  }
}
