.footer {
  display: flex;
  padding: 0 15px;
  align-items: center;

  &_constellation {
    font-weight: 400;
    margin: 0;
    margin-right: 30px;
  }

  &_sourceCode {
    color: inherit;
    opacity: 0.125;
  }
}

.tabs {
  flex-grow: 1;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: stretch;
  align-self: stretch;
  position: relative;

  li {
    display: contents;
  }

  &_tab {
    background: none;
    border: none;
    border-bottom: 0 solid cornflowerblue;
    font: inherit;
    color: inherit;
    opacity: 0.5;
    transition-property: opacity, border-bottom-width;
    transition-duration: 150ms;
    padding: 0 10px;

    &:hover {
      opacity: 1;
    }

    &.-isActive {
      opacity: 1;
      border-bottom-width: 2px;
    }
  }
}

.description {
  position: absolute;
  bottom: 64px;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 32px;

  &_inner {
    max-width: 640px;
    margin: auto;
  }

  &_title {
    font-weight: normal;
    margin: 0;
    font-size: 48px;
    margin-bottom: 18px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}
