.animation {
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
  }

  .anthropocentrism {
    transform: scale(0.75);

    .arrow {
      animation-name: appear;
      animation-duration: 300ms;
      animation-fill-mode: both;
      transform-origin: center;

      &.blue {
        animation-delay: 200ms;
      }

      &.green {
        animation-delay: 100ms;
      }
    }

    .human {
      animation-name: appear;
      animation-duration: 500ms;
      animation-fill-mode: both;
      animation-delay: 300ms;
      transform-origin: center;
    }
  }

  .ancientGreece {
    .turtle {
      animation-name: walkAway;
      animation-duration: 60s;
      animation-delay: 1s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .geocentrism {
    > * {
      --year: 1;

      animation-name: rotate;
      animation-duration: calc(var(--year) * 5s);
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: -60s;
    }

    > :not(.earth) {
      transform-origin: 111.644px 66.257px;
    }

    .stars,
    .earth {
      animation-name: none;
    }

    .earth {
      transform-origin: 0 0;
    }

    .mercury {
      --year: 5;
    }

    .venus {
      --year: 7;
    }

    .sun {
      --year: 15;
    }

    .mars {
      --year: 10;
    }

    .jupiter {
      --year: 20;
    }

    .saturn {
      --year: 30;
    }
  }

  .movements {
    .deferent {
      animation-name: rotate;
      animation-duration: 100s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: -85s;
      transform-origin: 107.202px 189.985px;
    }

    .planet {
      animation-name: rotate;
      animation-duration: 10s;
      transform-origin: 0 298.125px;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .parallax {
    .line,
    .angle {
      animation-name: fadeOut;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }

    .line {
      animation-delay: 500ms;
    }

    .angle {
      animation-delay: 2.3s;
    }

    .earth {
      transform-origin: 105.833px 26.458px;
      animation-name: parallax;
      animation-duration: 1s;
      animation-delay: 800ms;
      animation-fill-mode: both;
    }
  }

  .heliocentrism {
    > :not(.sun) {
      --year: 1;
      transform-origin: 112.448px 66.146px;
      animation-name: rotate;
      animation-duration: calc(var(--year) * 5s);
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: -10s;
    }
    .mercury {
      --year: 5;
    }

    .venus {
      --year: 7;
    }

    .earth {
      --year: 15;
    }

    .mars {
      --year: 10;
    }

    .jupiter {
      --year: 20;
    }

    .saturn {
      --year: 30;
    }
  }
}

@keyframes appear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes epicycle {
  from {
    transform: translate(43.779px, -52.572px) rotate(0);
  }

  to {
    transform: translate(43.779px, -52.572px) rotate(1turn);
  }
}

@keyframes walkAway {
  from {
    transform: translate(-0.459px, -164.518px);
  }

  to {
    transform: translate(500px, -164.518px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    stroke-opacity: 0;
  }

  to {
    opacity: 1;
    stroke-opacity: 0.5;
  }
}

@keyframes parallax {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg);
  }
}
